<div class="container">
  <div class="row">
    <div class="form-group col mt-4">
      <label for="fName">name : </label>
      <input class="form-control" type="text" id="fName" (input)="onInput($event)">
    </div>
    <div class="col mt-4">
      <label class="col-6 form-group"><strong>name</strong></label>
      <div class="mt-1">{{name | titlecase}}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-4">
      <label for="date">date : </label>
      <input class="form-control" type="date" id="date" (input)="onChangeDate($event)">
    </div>
    <div class="col mt-4">
      <label class="col-6 form-group"><strong>date</strong></label>
      <div class="mt-1">{{date | date: 'fullDate'}}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-4">
      <label for="amount">Amount : </label>
      <input class="form-control" type="number" id="amount" (input)="onChangeAmount($event)">
    </div>
    <div class="col mt-4">
      <label class="col-6 form-group"><strong>Amount</strong></label>
      <div class="mt-1">{{amount | currency : 'IRR'}}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-4">
      <label for="mile">miles : </label>
      <input class="form-control" type="number" id="mile" (input)="onChangeMile($event)">
    </div>
    <div class="col mt-4">
      <label class="col-6 form-group"><strong>Kilometer</strong></label>
      <div class="mt-1">{{mile | convert}}</div>
    </div>
  </div>
</div>
